* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    padding: 0 0 10px 0;
    text-align: center;
}

form#search-form {
    margin: 150px 0 70px;
    input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        height: 40px;
        padding: 0 20px;
        border: 1px solid #a7a7a7;
        border-radius: 4px;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 200px;
    top: 260px;
}
button {
    left: 0
}
.btn.btn-primary {
    display: block;
    margin: 10px auto 100px auto;
}

.btn.btn-primary.is-hidden {
    display: none;
}


.photo-card {
    width: calc(100%/3 - 20px);
    transition: 250ms;
        &:hover {
            cursor: pointer;
            transform: scale(1.02);
        }
        // &:hover .stats {
        //     display: flex;
        //     gap: 20px;
        //     color: #ffffff;
        //     position: relative;
        //     top: -60px;
        //     left: 35px;
        //     overflow: hidden;
        // }
    img {
        max-width: 100%;
        border-radius: 4px;
        transition: 250ms;
        &:before {
            content: '';
            display: block;
            width: 100px;
            height: 100px;
            background: #000;
            overflow: hidden;
        }
    }
}

.stats {
    display: flex;
    gap: 20px;
    color: #ffffff;
    position: relative;
    top: -60px;
    left: 35px;
    overflow: hidden;

    &-item {
        display: flex;
        align-items: center;
        gap: 5px
    }
}

